            @font-face {
            font-family: 'Noto Serif';
            font-style: normal;
            font-weight: 400;
			src: url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */src:<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: Undefined property: stdClass::$local in C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php on line <i>158</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369344</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-blog-header.php</font> )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>17</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.4927</td><td bgcolor='#eeeeec' align='right'>13064864</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-includes\template-loader.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-blog-header.php' bgcolor='#eeeeec'>...\wp-blog-header.php<b>:</b>19</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template-loader.php' bgcolor='#eeeeec'>...\template-loader.php<b>:</b>106</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>get_header( <span>$name = </span>???, <span>$args = </span>??? )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php' bgcolor='#eeeeec'>...\front-page.php<b>:</b>15</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076824</td><td bgcolor='#eeeeec'>locate_template( <span>$template_names = </span><span>[0 =&gt; &#39;header.php&#39;]</span>, <span>$load = </span><span>TRUE</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>48</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.4982</td><td bgcolor='#eeeeec' align='right'>13076920</td><td bgcolor='#eeeeec'>load_template( <span>$_template_file = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/themes/colormag/header.php&#39;</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>716</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.4983</td><td bgcolor='#eeeeec' align='right'>13077328</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>770</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>wp_head(  )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php' bgcolor='#eeeeec'>...\header.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_head&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>3015</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>wp_enqueue_scripts( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_enqueue_scripts&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\script-loader.php' bgcolor='#eeeeec'>...\script-loader.php<b>:</b>2083</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.5063</td><td bgcolor='#eeeeec' align='right'>13139928</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->replace_queued_sources( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>1.7351</td><td bgcolor='#eeeeec' align='right'>13246344</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->download_font( <span>$base_path = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/cache/embed-google-fonts/&#39;</span>, <span>$slug = </span><span>&#39;noto-serif&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php' bgcolor='#eeeeec'>...\embed-google-fonts.php<b>:</b>48</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: foreach() argument must be of type array|object, null given in C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php on line <i>158</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369344</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-blog-header.php</font> )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>17</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.4927</td><td bgcolor='#eeeeec' align='right'>13064864</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-includes\template-loader.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-blog-header.php' bgcolor='#eeeeec'>...\wp-blog-header.php<b>:</b>19</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template-loader.php' bgcolor='#eeeeec'>...\template-loader.php<b>:</b>106</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>get_header( <span>$name = </span>???, <span>$args = </span>??? )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php' bgcolor='#eeeeec'>...\front-page.php<b>:</b>15</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076824</td><td bgcolor='#eeeeec'>locate_template( <span>$template_names = </span><span>[0 =&gt; &#39;header.php&#39;]</span>, <span>$load = </span><span>TRUE</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>48</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.4982</td><td bgcolor='#eeeeec' align='right'>13076920</td><td bgcolor='#eeeeec'>load_template( <span>$_template_file = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/themes/colormag/header.php&#39;</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>716</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.4983</td><td bgcolor='#eeeeec' align='right'>13077328</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>770</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>wp_head(  )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php' bgcolor='#eeeeec'>...\header.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_head&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>3015</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>wp_enqueue_scripts( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_enqueue_scripts&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\script-loader.php' bgcolor='#eeeeec'>...\script-loader.php<b>:</b>2083</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.5063</td><td bgcolor='#eeeeec' align='right'>13139928</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->replace_queued_sources( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>1.7351</td><td bgcolor='#eeeeec' align='right'>13246344</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->download_font( <span>$base_path = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/cache/embed-google-fonts/&#39;</span>, <span>$slug = </span><span>&#39;noto-serif&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php' bgcolor='#eeeeec'>...\embed-google-fonts.php<b>:</b>48</td></tr>
</table></font>
url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix") format("eot"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2") format("woff2"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff") format("woff"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf") format("ttf"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Noto Serif") format("svg")            ;}
			            @font-face {
            font-family: 'Noto Serif';
            font-style: italic;
            font-weight: 400;
			src: url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot"); /* IE9 Compat Modes */src:<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: Undefined property: stdClass::$local in C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php on line <i>158</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369344</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-blog-header.php</font> )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>17</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.4927</td><td bgcolor='#eeeeec' align='right'>13064864</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-includes\template-loader.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-blog-header.php' bgcolor='#eeeeec'>...\wp-blog-header.php<b>:</b>19</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template-loader.php' bgcolor='#eeeeec'>...\template-loader.php<b>:</b>106</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>get_header( <span>$name = </span>???, <span>$args = </span>??? )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php' bgcolor='#eeeeec'>...\front-page.php<b>:</b>15</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076824</td><td bgcolor='#eeeeec'>locate_template( <span>$template_names = </span><span>[0 =&gt; &#39;header.php&#39;]</span>, <span>$load = </span><span>TRUE</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>48</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.4982</td><td bgcolor='#eeeeec' align='right'>13076920</td><td bgcolor='#eeeeec'>load_template( <span>$_template_file = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/themes/colormag/header.php&#39;</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>716</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.4983</td><td bgcolor='#eeeeec' align='right'>13077328</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>770</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>wp_head(  )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php' bgcolor='#eeeeec'>...\header.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_head&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>3015</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>wp_enqueue_scripts( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_enqueue_scripts&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\script-loader.php' bgcolor='#eeeeec'>...\script-loader.php<b>:</b>2083</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.5063</td><td bgcolor='#eeeeec' align='right'>13139928</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->replace_queued_sources( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>1.7351</td><td bgcolor='#eeeeec' align='right'>13246344</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->download_font( <span>$base_path = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/cache/embed-google-fonts/&#39;</span>, <span>$slug = </span><span>&#39;noto-serif&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php' bgcolor='#eeeeec'>...\embed-google-fonts.php<b>:</b>48</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: foreach() argument must be of type array|object, null given in C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php on line <i>158</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369344</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-blog-header.php</font> )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>17</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.4927</td><td bgcolor='#eeeeec' align='right'>13064864</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-includes\template-loader.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-blog-header.php' bgcolor='#eeeeec'>...\wp-blog-header.php<b>:</b>19</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template-loader.php' bgcolor='#eeeeec'>...\template-loader.php<b>:</b>106</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>get_header( <span>$name = </span>???, <span>$args = </span>??? )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php' bgcolor='#eeeeec'>...\front-page.php<b>:</b>15</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076824</td><td bgcolor='#eeeeec'>locate_template( <span>$template_names = </span><span>[0 =&gt; &#39;header.php&#39;]</span>, <span>$load = </span><span>TRUE</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>48</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.4982</td><td bgcolor='#eeeeec' align='right'>13076920</td><td bgcolor='#eeeeec'>load_template( <span>$_template_file = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/themes/colormag/header.php&#39;</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>716</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.4983</td><td bgcolor='#eeeeec' align='right'>13077328</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>770</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>wp_head(  )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php' bgcolor='#eeeeec'>...\header.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_head&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>3015</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>wp_enqueue_scripts( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_enqueue_scripts&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\script-loader.php' bgcolor='#eeeeec'>...\script-loader.php<b>:</b>2083</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.5063</td><td bgcolor='#eeeeec' align='right'>13139928</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->replace_queued_sources( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>1.7351</td><td bgcolor='#eeeeec' align='right'>13246344</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->download_font( <span>$base_path = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/cache/embed-google-fonts/&#39;</span>, <span>$slug = </span><span>&#39;noto-serif&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php' bgcolor='#eeeeec'>...\embed-google-fonts.php<b>:</b>48</td></tr>
</table></font>
url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot?#iefix") format("eot"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff2") format("woff2"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff") format("woff"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.ttf") format("ttf"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.svg#Noto Serif") format("svg")            ;}
			            @font-face {
            font-family: 'Noto Serif';
            font-style: normal;
            font-weight: 700;
			src: url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */src:<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: Undefined property: stdClass::$local in C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php on line <i>158</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369344</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-blog-header.php</font> )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>17</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.4927</td><td bgcolor='#eeeeec' align='right'>13064864</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-includes\template-loader.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-blog-header.php' bgcolor='#eeeeec'>...\wp-blog-header.php<b>:</b>19</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template-loader.php' bgcolor='#eeeeec'>...\template-loader.php<b>:</b>106</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>get_header( <span>$name = </span>???, <span>$args = </span>??? )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php' bgcolor='#eeeeec'>...\front-page.php<b>:</b>15</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076824</td><td bgcolor='#eeeeec'>locate_template( <span>$template_names = </span><span>[0 =&gt; &#39;header.php&#39;]</span>, <span>$load = </span><span>TRUE</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>48</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.4982</td><td bgcolor='#eeeeec' align='right'>13076920</td><td bgcolor='#eeeeec'>load_template( <span>$_template_file = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/themes/colormag/header.php&#39;</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>716</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.4983</td><td bgcolor='#eeeeec' align='right'>13077328</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>770</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>wp_head(  )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php' bgcolor='#eeeeec'>...\header.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_head&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>3015</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>wp_enqueue_scripts( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_enqueue_scripts&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\script-loader.php' bgcolor='#eeeeec'>...\script-loader.php<b>:</b>2083</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.5063</td><td bgcolor='#eeeeec' align='right'>13139928</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->replace_queued_sources( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>1.7351</td><td bgcolor='#eeeeec' align='right'>13246344</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->download_font( <span>$base_path = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/cache/embed-google-fonts/&#39;</span>, <span>$slug = </span><span>&#39;noto-serif&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php' bgcolor='#eeeeec'>...\embed-google-fonts.php<b>:</b>48</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: foreach() argument must be of type array|object, null given in C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php on line <i>158</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369344</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-blog-header.php</font> )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>17</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.4927</td><td bgcolor='#eeeeec' align='right'>13064864</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-includes\template-loader.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-blog-header.php' bgcolor='#eeeeec'>...\wp-blog-header.php<b>:</b>19</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template-loader.php' bgcolor='#eeeeec'>...\template-loader.php<b>:</b>106</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>get_header( <span>$name = </span>???, <span>$args = </span>??? )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php' bgcolor='#eeeeec'>...\front-page.php<b>:</b>15</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076824</td><td bgcolor='#eeeeec'>locate_template( <span>$template_names = </span><span>[0 =&gt; &#39;header.php&#39;]</span>, <span>$load = </span><span>TRUE</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>48</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.4982</td><td bgcolor='#eeeeec' align='right'>13076920</td><td bgcolor='#eeeeec'>load_template( <span>$_template_file = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/themes/colormag/header.php&#39;</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>716</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.4983</td><td bgcolor='#eeeeec' align='right'>13077328</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>770</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>wp_head(  )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php' bgcolor='#eeeeec'>...\header.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_head&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>3015</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>wp_enqueue_scripts( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_enqueue_scripts&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\script-loader.php' bgcolor='#eeeeec'>...\script-loader.php<b>:</b>2083</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.5063</td><td bgcolor='#eeeeec' align='right'>13139928</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->replace_queued_sources( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>1.7351</td><td bgcolor='#eeeeec' align='right'>13246344</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->download_font( <span>$base_path = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/cache/embed-google-fonts/&#39;</span>, <span>$slug = </span><span>&#39;noto-serif&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php' bgcolor='#eeeeec'>...\embed-google-fonts.php<b>:</b>48</td></tr>
</table></font>
url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix") format("eot"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2") format("woff2"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff") format("woff"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf") format("ttf"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#Noto Serif") format("svg")            ;}
			            @font-face {
            font-family: 'Noto Serif';
            font-style: italic;
            font-weight: 700;
			src: url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.eot"); /* IE9 Compat Modes */src:<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: Undefined property: stdClass::$local in C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php on line <i>158</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369344</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-blog-header.php</font> )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>17</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.4927</td><td bgcolor='#eeeeec' align='right'>13064864</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-includes\template-loader.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-blog-header.php' bgcolor='#eeeeec'>...\wp-blog-header.php<b>:</b>19</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template-loader.php' bgcolor='#eeeeec'>...\template-loader.php<b>:</b>106</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>get_header( <span>$name = </span>???, <span>$args = </span>??? )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php' bgcolor='#eeeeec'>...\front-page.php<b>:</b>15</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076824</td><td bgcolor='#eeeeec'>locate_template( <span>$template_names = </span><span>[0 =&gt; &#39;header.php&#39;]</span>, <span>$load = </span><span>TRUE</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>48</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.4982</td><td bgcolor='#eeeeec' align='right'>13076920</td><td bgcolor='#eeeeec'>load_template( <span>$_template_file = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/themes/colormag/header.php&#39;</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>716</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.4983</td><td bgcolor='#eeeeec' align='right'>13077328</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>770</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>wp_head(  )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php' bgcolor='#eeeeec'>...\header.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_head&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>3015</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>wp_enqueue_scripts( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_enqueue_scripts&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\script-loader.php' bgcolor='#eeeeec'>...\script-loader.php<b>:</b>2083</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.5063</td><td bgcolor='#eeeeec' align='right'>13139928</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->replace_queued_sources( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>1.7351</td><td bgcolor='#eeeeec' align='right'>13246344</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->download_font( <span>$base_path = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/cache/embed-google-fonts/&#39;</span>, <span>$slug = </span><span>&#39;noto-serif&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php' bgcolor='#eeeeec'>...\embed-google-fonts.php<b>:</b>48</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: foreach() argument must be of type array|object, null given in C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php on line <i>158</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369344</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>369656</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-blog-header.php</font> )</td><td title='C:\wamp64\www\wordpress\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>17</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.4927</td><td bgcolor='#eeeeec' align='right'>13064864</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-includes\template-loader.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-blog-header.php' bgcolor='#eeeeec'>...\wp-blog-header.php<b>:</b>19</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template-loader.php' bgcolor='#eeeeec'>...\template-loader.php<b>:</b>106</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076448</td><td bgcolor='#eeeeec'>get_header( <span>$name = </span>???, <span>$args = </span>??? )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\front-page.php' bgcolor='#eeeeec'>...\front-page.php<b>:</b>15</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.4981</td><td bgcolor='#eeeeec' align='right'>13076824</td><td bgcolor='#eeeeec'>locate_template( <span>$template_names = </span><span>[0 =&gt; &#39;header.php&#39;]</span>, <span>$load = </span><span>TRUE</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>48</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.4982</td><td bgcolor='#eeeeec' align='right'>13076920</td><td bgcolor='#eeeeec'>load_template( <span>$_template_file = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/themes/colormag/header.php&#39;</span>, <span>$require_once = </span><span>TRUE</span>, <span>$args = </span><span>[]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>716</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.4983</td><td bgcolor='#eeeeec' align='right'>13077328</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php</font> )</td><td title='C:\wamp64\www\wordpress\wp-includes\template.php' bgcolor='#eeeeec'>...\template.php<b>:</b>770</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>wp_head(  )</td><td title='C:\wamp64\www\wordpress\wp-content\themes\colormag\header.php' bgcolor='#eeeeec'>...\header.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13078832</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_head&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\general-template.php' bgcolor='#eeeeec'>...\general-template.php<b>:</b>3015</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4985</td><td bgcolor='#eeeeec' align='right'>13079208</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>wp_enqueue_scripts( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13082632</td><td bgcolor='#eeeeec'>do_action( <span>$hook_name = </span><span>&#39;wp_enqueue_scripts&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\script-loader.php' bgcolor='#eeeeec'>...\script-loader.php<b>:</b>2083</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->do_action( <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\plugin.php' bgcolor='#eeeeec'>...\plugin.php<b>:</b>470</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4992</td><td bgcolor='#eeeeec' align='right'>13083008</td><td bgcolor='#eeeeec'>WP_Hook->apply_filters( <span>$value = </span><span>&#39;&#39;</span>, <span>$args = </span><span>[0 =&gt; &#39;&#39;]</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>327</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.5063</td><td bgcolor='#eeeeec' align='right'>13139928</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->replace_queued_sources( <span>&#39;&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-includes\class-wp-hook.php' bgcolor='#eeeeec'>...\class-wp-hook.php<b>:</b>303</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>1.7351</td><td bgcolor='#eeeeec' align='right'>13246344</td><td bgcolor='#eeeeec'>Embed_Google_Fonts->download_font( <span>$base_path = </span><span>&#39;C:\\wamp64\\www\\wordpress/wp-content/cache/embed-google-fonts/&#39;</span>, <span>$slug = </span><span>&#39;noto-serif&#39;</span> )</td><td title='C:\wamp64\www\wordpress\wp-content\plugins\embed-google-fonts\embed-google-fonts.php' bgcolor='#eeeeec'>...\embed-google-fonts.php<b>:</b>48</td></tr>
</table></font>
url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.eot?#iefix") format("eot"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff2") format("woff2"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff") format("woff"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.ttf") format("ttf"),url("noto-serif-v16-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.svg#Noto Serif") format("svg")            ;}
			